<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 组件扫描，controller,service -->
    <context:component-scan
            base-package="com.mxd"/>
    <!-- RequesetMapping注解映射 -->
    <mvc:annotation-driven/>
    <!--加载配置-->
    <context:property-placeholder location="classpath:config.properties"/>

    <bean id="dbcpdatasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="${username}">
        </property>
        <property name="password" value="${password}">
        </property>
        <property name="driverClassName" value="${drivername}">
        </property>
        <property name="url" value="${url}">
        </property>
    </bean>

    <bean id="sqlsessionfactory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入连接信息 -->
        <property name="dataSource" ref="dbcpdatasource">
        </property>

        <!--注入SQL语句的XML文件 -->
        <property name="mapperLocations"
                  value="classpath:mapper/*.xml">
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage"
                  value="com.mxd.dao">
        </property>
    </bean>

    <task:annotation-driven scheduler="qbScheduler" mode="proxy"/>
    <task:scheduler id="qbScheduler" pool-size="10"/>
    <!--<bean id="exceptionResolver" class="com.mxdn.ExceptionHandler"/>-->

</beans>